---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Section from '../components/Section.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import SocialLogos from '../components/SocialLogos.astro';
import MailIcon from '../components/icons/Mail.astro';
import CvIcon from '../components/icons/Cv.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Hat from '../components/icons/Hat.astro';
import Languages from '../components/Languages.astro';
import Book from '../components/icons/Book.astro';
import Briefcase from '../components/icons/Briefcase.astro';
import Code from '../components/icons/Code.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import SkillsIcon from '../components/icons/SkillsIcon.astro';

---

<Layout 
	title="Portfolio de José - My experiences and Education"
	description="I am Jose, a web developer and UX/UI designer from Jerez, Spain. I have experience in web development and design and I am an enthusiast of pixel perfect web."
	
	>
	<main class="md:px-40 px-12">
		
		<Section id="about">
			<img
				class="
					rounded-full 
					size-14
					md:size-20
					lg:size-28 
					mb-4"
				src="/icon.webp"
				alt="jose photo"


				
			/>
			<h1 
				class="
					text-white text-xl md:text-4xl lg:text-5xl  font-bold 
					flex 
					gap-x-4 pb-4 lg:pb-6
					"
			>
				Hey, I am José <a 
					href="https://www.linkedin.com/in/joseluisllr25/" 
					target="_blank" 
					rel="noopener " 
					class="flex justify-center items-center"
				>
				<Badge>Open to work</Badge> 
			</a>
			</h1>

			<h2 
				class="
					text-base md:text-xl text-wrap"
			>
				<span class="text-yellow-200/90">Motivated and adaptable eager to contribute and learn.</span> 
				<span class="text-red-200/90">Passionate Web Developer and UX/UI designer.</span> 
				<span class="text-blue-200/90">Dedicated of Pixel Perfect web.</span>
			</h2>

			<nav 
				class="flex gap-4 pt-4 lg:pt-6 flex-wrap"
			>
			<SocialLogos href="https://linkedin.com/in/joseluisllr25/">
				<LinkedInIcon class="size-4 lg:size-5"/>
				<span class="text-white">LinkedIn</span>
			</SocialLogos> 
			<SocialLogos href="https://github.com/joseluisllovet">
				<GitHubIcon class="size-4 lg:size-5"/>
				<span class="text-white">Github</span>
			</SocialLogos> 
			<SocialLogos href="mailto:jlllovet00@gmail.com">
				<MailIcon class="size-4 lg:size-5"/>
				<span class="text-white">jlllovet00@gmail.com</span>
			</SocialLogos> 
			<SocialLogos href="https://drive.google.com/file/d/1iUflJ3m3b2yTJCSOciY4rSqYw9mY9JGM/view?usp=sharing"> 
				<CvIcon class="size-4 lg:size-5"/>
				<span class="text-white">CV</span>
			</SocialLogos>
		</Section >

		<Section id="education" >
			<h2 class="text-2xl md:text-3xl font-semibold items-center flex gap-x-2 mb-6 text-white"> 
			<Hat class="size-7"/>
			Education
			</h2>
			<Education />
			<h2 class="text-2xl md:text-3xl font-semibold items-center flex gap-x-2 pt-10 mb-6 text-white"> 
			<Book class="size-7"/>
			Languages
			</h2>
			<Languages />
			<h2 class="text-2xl md:text-3xl font-semibold items-center flex gap-x-2 pt-20 mb-6 text-white"> 
			<SkillsIcon class="size-7"/>
			Skills
			</h2>
			<Skills />
		</Section>
		
		<Section id="experience" >
			<h2 class="text-2xl md:text-3xl font-semibold items-center flex gap-x-2 mb-6 text-white"> 
			<Briefcase class="size-7"/>
			Experience
			</h2>
			<Experience />
		</Section>

		<Section id="projects" >
			<h2 class="text-2xl md:text-3xl font-semibold items-center flex gap-x-2 mb-6 text-white"> 
			<Code class="size-7"/>
			Projects
			</h2>
			<Projects />
		</Section>

	</main>
</Layout>
 