---
import EducationItem from './EducationItem.astro'
const EDUCATION = [
    {
        date: '2024 - 2025',
        title: 'Master in Interaction Design and User Experience (UX) from Oberta University of Catalonia.',
        description: 'Usability Testing · Sketch · Mobile Design · UX Research · Miro · Figma'
    },   
    {
        date: 'Sep 2019 - Dec 2023',
        title: 'Bachelor of Social Science in Advertising and Public Relations from the University of Cádiz.',
        description: 'This degree program about communication and media has a total of 240 ECTS.'
    },
    {
        date: 'Aug 2022 - Feb 2023',
        title: 'Erasmus Exchange Program at the Aarhus University in Denmark',
        description: 'Focusing on Programming Languages.'
    }
]
---

<ol class="relative border-s border-gray-200 ml-3 ">   

    {
        EDUCATION.map((education) => (
          <li class="mb-10 ms-4">
            <EducationItem {...education} />
          </li>
        ))
      }
       
</ol>


