---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
    {
        date: 'Sep 2022 - May 2023',
        title: 'Web Designer Wordpress - BORRADS.COM - Remote',
        description: 'Planning, design and development of new projects to digitize companies. Contribute to the maintenance and updating of +30 websites.',
        link: '/src/images/icon.png',
    },
    {
        date: 'Jan 2023 - Aug 2023',
        title: 'Internship Frontend Developer - NDB Technology - Tallin, Estonia',
        description: 'Develop and design projects strengthening skills in HTML, CSS, JavaScript and Figma. Work on projects acquiring different skills in analytics, SEO and various technologies.',
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">   

    {
        EXPERIENCE.map((experience) => (
          <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
          </li>
        ))
      }
       
</ol>