---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
    {
        date: 'Sep 2022 - May 2023',
        title: 'Web Management Student Worker - BORRADS.COM - Remote',
        description: 'Work on the development of pages and landing pages using tools such as HTML, CSS, JavaScrip and Wordpress, and maintain and present reports, and visualizations to provide insights and recommendations based on analysis performed.',
        link: 'https://drive.google.com/file/d/1K5BMPcvGqj2lkz_L0qfjtILxbcxhMGUQ/view?usp=sharing',
    },
    {
        date: 'Feb 2023 - Apr 2023',
        title: 'Digital Design Intern - NDB Technology - Tallin, Estonia',
        description: 'Work on website redesign, UX analysis and maintenance. Also setting-up social media marketing strategies and content plans and designed visual content materials.',
    },
    {
        date: 'Feb 2023 - Apr 2023',
        title: 'ESN Volunteer - ESN Tallinn - Tallin, Estonia',
        description: 'Collaborating with a fantastic team to create an exciting environment for international students in Tallinn. We plan events, monitor activities, and offer support in various roles such as bartending, photography, guiding, and more.',
    },
    {
        date: 'Apr 2020 - Aug 2023',
        title: 'Founder - "joseluisllovet.com" - Spain',
        description: 'Managed a group of clients creating web design, development and maintenance and creating digital marketing strategies for their businesses and social media.',
    }
]
---

<ol class="relative border-s border-gray-200 ml-3">   

    {
        EXPERIENCE.map((experience) => (
          <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
          </li>
        ))
      }
       
</ol>