<div class="mt-6 text-lg font-medium  dark:text-white text-white ">Spanish - Native</div>
<div class="mt-2 bg-yellow-200 h-1.5 rounded-full" style="width: %"></div>
</div>

<div class="mt-6 text-lg font-medium  dark:text-white text-white ">English - Professional Proficiency (C1)</div>
<div class="mt-2 bg-yellow-200 h-1.5 rounded-full" style="width: 80%"></div>
</div>

<div class="mt-6 text-lg font-medium  dark:text-white text-white ">German - Beginner (A2)</div>
<div class="mt-2 bg-yellow-200 h-1.5 rounded-full" style="width: 25%"></div>
</div>
</div>