<div class="mt-5 text-lg font-medium dark:text-white text-white">Web Development:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">HTML</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">CSS</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">JavaScript</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Tailwind</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Frameworks:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">React</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Astro</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Design Programs:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Figma</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Adobe XD</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Adobe Photoshop</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Database Management:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">PHP</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Version Control:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Git</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">GitHub</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Package Managers:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">NPM</kbd>
</div>