<div class="mt-5 text-lg font-medium dark:text-white ">Web Development:
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">HTML</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">CSS</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">JavaScript</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">Tailwind</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white ">Frameworks:
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">React</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">Astro</kbd>

</div>
<div class="mt-5 text-lg font-medium dark:text-white ">Version Control:
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">Git</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">GitHub</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white ">Design Programs:
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">Figma</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">Adobe Photoshop</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">Tab</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white ">Package Managers:
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-lg  dark:border-gray-500">NPM</kbd>

</div>