<div class="mt-5 text-lg font-medium dark:text-white text-white">Skills:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">
        Mobile Design</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">
        Usability Testing</kbd>
    <kbd class="px-2 py-1.5 mt-3 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">
        Information Architecture</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">
        UX Research</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Softwares:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Figma</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Sketch</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Miro</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Adobe Photoshop</kbd>
</div>
<div class="mt-5 text-lg font-medium dark:text-white text-white">Frontend:
    <br>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">HTML</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">CSS</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">JavaScript</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">React</kbd>
    <kbd class="px-2 py-1.5 text-xs font-medium text-gray-100 bg-white/10 border border-white/40 rounded-2xl  dark:border-gray-500">Git</kbd>
</div>


